@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

html, body {
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #EEEEEE;
    border-bottom: 2px solid #CCCCCC;
}

.fa-book {
    position: absolute;
    z-index: 2;
    left: 1.25rem;
}

#search-bar {
    font-size: 1.25rem;
    height: 1.5rem;
    padding: 0 2rem;
    margin: .5rem;
    width: 100%;
    border: 2px solid #CCCCCC;
    border-radius: 25px;
    z-index: 1;
}

#search-results-container {
    position: fixed;
    left: .5rem;
    right: .5rem;
    display: none;
    flex-direction: column;
    top: 1.25rem;
    background: #FFFFFF;
    padding: 1rem 2rem 1rem 2rem;
    border: 2px solid #CCCCCC;
    border-radius: 0 0 25px 25px;
}

#search-results-container.active {
    display: flex;
}

.search-item-container {
    display: flex;
    flex-direction: column;
    min-height: 3rem;
    margin: .25rem 0;
    border-bottom: 2px solid #CCCCCC;
    padding: .5rem .5rem 0 .5rem;
    border-radius: 0 25px 0 0;
    cursor: pointer;
}

.search-item-container:hover {
    background: #EEEEEE;
}

.container-heading {
    font-size: 1.25rem;
    margin: 1rem;
    border-bottom: 2px solid #CCCCCC;
}

.book-card {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1rem 1rem;
    background: #EEEEEE;
}

.book-card-row-one {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #CCCCCC;
}

.book-card-row-two {
    display: flex;
    align-items: center;
    justify-content: center;
    height:.75rem;
    background: #CCCCCC;
    cursor: pointer;
}

.book-card-row-two:hover {
    background: #BBBBBB;
}

.book-card-row-two.active {
    transform: rotate(180deg);
}

.book-card-info {
    display: flex;
    align-items: center;
}

.book-card-thumbnail {
    width: 3.5rem;
    height: 5rem;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.book-text-container {
    margin: 0 0 0 .5rem;
}

.book-card-authors {
    font-size: .75rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 1rem;
}

.button-container button {
    cursor: pointer;
}

.book-card-row-two .fa-caret-down {
    color: #EEEEEE;
}

.notes-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #DEDEDE;
}

.notes-card {
    display: flex;
    align-items: center;
}

.notes-container.active {
    display: flex;
}

.notes-card-label-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.notes-card-label {
    width: 100%;
    background: none;
    margin: .25rem;
}

.notes-label-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    height: .75rem;
}