@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

html, body {
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #EEEEEE;
    border-bottom: 2px solid #CCCCCC;
}

.fa-book {
    position: absolute;
    z-index: 2;
    left: 1.25rem;
}

#search-bar {
    font-size: 1.25rem;
    height: 1.5rem;
    padding: 0 2rem;
    margin: .5rem;
    width: 100%;
    border: 2px solid #CCCCCC;
    border-radius: 25px;
    z-index: 1;
}

#search-results-container {
    position: fixed;
    left: .5rem;
    right: .5rem;
    display: none;
    flex-direction: column;
    top: 1.25rem;
    background: #FFFFFF;
    padding: 1rem 2rem 1rem 2rem;
    border: 2px solid #CCCCCC;
    border-radius: 0 0 25px 25px;
}

#search-results-container.active {
    display: flex;
}

.search-item-container {
    display: flex;
    flex-direction: column;
    min-height: 3rem;
    margin: .25rem 0;
    border-bottom: 2px solid #CCCCCC;
    padding: .5rem .5rem 0 .5rem;
    border-radius: 0 25px 0 0;
    cursor: pointer;
}

.search-item-container:hover {
    background: #EEEEEE;
}

.container-heading {
    font-size: 1.25rem;
    margin: 1rem;
    border-bottom: 2px solid #CCCCCC;
}

.book-card {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    background: #EEEEEE;
    margin: 0 1rem 1rem 1rem;
}

.book-card-info {
    display: flex;
    align-items: center;
}

.book-card-thumbnail {
    margin-left: .5rem;
    width: 3.5rem;
    height: 5rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.book-text-container {
    margin: 0 0 0 .5rem;
}

.book-card-authors {
    font-size: .75rem;
}

.arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    margin: 0 1rem;
}

.book-card-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    width: 1rem;
    height: 1rem;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
}